@model List<CartVM>

@{
  ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="Cart" asp-action="BuyAll" method="post">
  <table class="table table-bordered" id="tblProducts">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(p => p[0].productId)</th>
        <th>@Html.DisplayNameFor(p => p[0].description)</th>
        <th>@Html.DisplayNameFor(p => p[0].price)</th>
        <th>@Html.DisplayNameFor(p => p[0].quantity)</th>
        <th></th>
      </tr>
    </thead>


    @foreach (var product in Model)
    {
      <tbody>
        <tr>
          <td>@product.productId</td>
          <td>@product.description</td>
          <td>@product.price</td>
          <td>@product.quantity</td>
          <td>
            <input type="hidden" asp-for="@product.productId" />
            <input type="hidden" asp-for="@product.quantity" />
            <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@product.productId" class="btn text-danger"><i class="fas fa-trash-alt"></i></a>
          </td>       
        </tr>
      </tbody>
    }
  </table>
  <input type="submit" value="Buy All" />
</form>
@*<a asp-controller="Cart" asp-action="BuyAll" asp-route-id="@Model" class="btn text-danger"><i class="fas fa-trash-alt"></i></a>*@


@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script type="text/javascript">


    $("body").on("click", "#btnBuy", function () {
      //Loop through the Table rows and build a JSON array.
      var products = new Array();
      $("#tblProducts TBODY TR").each(function () {
        var row = $(this);
        var product = {};
        product.productId = row.find("TD").eq(0).html();
        //product.description = row.find("TD").eq(1).html();
        //product.price = row.find("TD").eq(2).html();
        product.quantity = row.find("TD").eq(3).html();
        products.push(product);
      });

      $.ajax({
        type: "POST",
        url: "/Cart/AddToCart",
        data: JSON.stringify(products),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (r) {
          alert(r + " products inserted.");
        }



  </script>*@